<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>NFL Machine Learning Picks</title>
    <style>
        .green {color: green}
        .red {color: red}
        td {padding: 2px;}
        td.numbers { width: 40px; text-align: right;}
        th, td {border: 1px solid black;} 
        table {margin-bottom: 6px;}
        th {text-align: center;}
        td {text-align: center;}
        h1 {
            color: green; 
        }

        tbody tr:nth-child(odd) td {
            background-color: #555555;
        }

        .win-percentage {
            color: red; 
        }

        .win-percentage.green {
            color: green;
        }
    </style>
</head>
<body>
<main class="container">
    <h1>NFL StatBets</h1>
    <h2>Machine Learning Picks Via Fanduel</h2>
    <table role="grid">
        <thead>
        <th>Teams</th>
        <th>Score</th>
        <th>Record%</th>
        <th>O/U</th>
        <th>Spread</th>
        <th>Win%</th>
        <th>Bet</th>
        </thead>
        <tbody id="table-body">
          
        </tbody>
    </table>
</main>


  <script>
    const dataset = [
        { team: "BAL", score: 17.0, odds: 0.0, overUnder: 33.5, spread: -10.5, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 6.0, odds: 0.0, overUnder: 33.5, spread: 10.5, winPercentage: 0, bet: 0 },
        { team: "BAL", score: 31.0, odds: 0.5384615384615384, overUnder: 39.0, spread: -11.0, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 7.0, odds: 0.38461538461538464, overUnder: 39.0, spread: 11.0, winPercentage: 0, bet: 0 },
        { team: "BAL", score: 24.0, odds: 0.6, overUnder: 38.5, spread: -6.5, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 27.0, odds: 0.2, overUnder: 38.5, spread: 6.5, winPercentage: 0, bet: 0 },
        { team: "BUF", score: 33.0, odds: 0.3333333333333333, overUnder: 46.5, spread: -3.0, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 27.0, odds: 0.6666666666666666, overUnder: 46.5, spread: 3.0, winPercentage: 0, bet: 0 },
        { team: "BUF", score: 19.0, odds: 0.0, overUnder: 41.5, spread: -3.0, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 22.0, odds: 0.5714285714285714, overUnder: 41.5, spread: 3.0, winPercentage: 0, bet: 0 },
        { team: "BUF", score: 9.0, odds: 0.25, overUnder: 38.0, spread: -10.5, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 41.0, odds: 0.5714285714285714, overUnder: 38.0, spread: 10.5, winPercentage: 0, bet: 0 },
        { team: "CIN", score: 0.0, odds: 0.6, overUnder: 36.0, spread: -1.0, winPercentage: 0, bet: 0 },
      { team: "CHI", score: 24.0, odds: 0.75, overUnder: 36.0, spread: 1.0, winPercentage: 0, bet: 0 },
        { team: "CIN", score: 45.0, odds: 0.6666666666666666, overUnder: 43.0, spread: -2.0, winPercentage: 0, bet: 0 },
        { team: "CHI", score: 10.0, odds: 0.6, overUnder: 43.0, spread: 2.0, winPercentage: 0, bet: 0 }
    ];

  // Function to populate the table
      function populateTable() {
          const tableBody = document.getElementById('table-body');

          // Iterate over the dataset and create table rows
          dataset.forEach(data => {
              const row = document.createElement('tr');

              // Populate table cells with data
              row.innerHTML = `
                  <td>${data.team}</td>
                  <td class="numbers">${data.score}</td>
                  <td class="numbers">${data.odds}</td>
                  <td class="numbers">${data.overUnder}</td>
                  <td class="numbers">${data.spread}</td>
                  <td class="win-percentage">${data.winPercentage}%</td>
                  <td class="numbers">$${data.bet}</td>
              `;

              // Append the row to the table body
              tableBody.appendChild(row);
          });
      }

      // Call the function to populate the table
      populateTable();
  </script>

    
  <script>
      function perc2color(perc, min, max) {
          var base = (max - min);
          if (base == 0) {
              perc = 100;
          } else {
              perc = (perc - min) / base * 100;
          }
          var r, g, b = 0;
          if (perc < 50) {
              r = 255;
              g = Math.round(5.1 * perc);
          } else {
              g = 255;
              r = Math.round(510 - 5.10 * perc);
          }
          var h = r * 0x10000 + g * 0x100 + b * 0x1;
          return '#' + ('000000' + h.toString(16)).slice(-6);
      }

      // Get the win percentage elements
      const win1 = document.getElementById('win1');
      const win2 = document.getElementById('win2');
      const win3 = document.getElementById('win3');
      const win4 = document.getElementById('win4');

      // Convert win percentage to number
      const winPercentage1 = parseInt(win1.textContent);
      const winPercentage2 = parseInt(win2.textContent);
      const winPercentage3 = parseInt(win3.textContent);
      const winPercentage4 = parseInt(win4.textContent);

      // Change color based on win percentage
      win1.style.color = perc2color(winPercentage1, 0, 100);
      win2.style.color = perc2color(winPercentage2, 0, 100);
      win3.style.color = perc2color(winPercentage3, 0, 100);
      win4.style.color = perc2color(winPercentage4, 0, 100);
  </script>


  
</body>
</html>
        