
<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>NFL Machine Learning Picks</title>
    <style>
        .green {color: green}
        .red {color: red}
        td {padding: 2px;}
        td.numbers { width: 40px; text-align: right;}
        th, td {border: 1px solid black;} 
        table {margin-bottom: 6px;}
        th {text-align: center;}
        td {text-align: center;}
        h1 {
            color: green; 
        }

        tbody tr:nth-child(odd) td {
            background-color: #555555;
        }

        .win-percentage {
            color: red; 
        }

        .win-percentage.green {
            color: green;
        }
    </style>
</head>
  <ul>
      <li><a href="/login">Login</a></li> <!-- Link to the new tab -->
  </ul>
<body>
<main class="container">
    <h1>NFL StatBets</h1>
    <h2>Machine Learning Picks Via Fanduel</h2>
    <form role="form" method='POST' action='/' id="myForm">
      <div class="form-group">
        <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter Bankroll" style="max-width: 200px;" autofocus required>
      </div>
      <style>
          .small-button {
              padding: 5px 10px; 
              font-size: 12px; 
              max-width: 200px;
              background-color: green;
          }
      </style>
    <button type="submit" class="btn btn-default small-button">Submit</button>
    </form>
    <table role="grid">
        <thead>
        <th>Teams</th>
        <th>Score</th>
        <th>Away Team Record</th>
        <th>Over Under</th>
        <th>Spread</th>
        <th>Chance to win</th>
        <th>Bet</th>
        </thead>
        <tbody id="table-body">
          
          <tr>
              <td>Panthers vs Bears</td>
              <td class="data-string">13-16</td>
              <td class="numbers">.125</td>
              <td class="numbers">38.5</td>
              <td class="numbers">-3</td>
              <td class="win-percentage" id="win1">57.4%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Colts vs Patriots</td>
              <td class="data-string">10-6</td>
              <td class="numbers">.4444</td>
              <td class="numbers">43.5</td>
              <td class="numbers">-1.5</td>
              <td class="win-percentage" id="win2">43.4%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Browns vs Ravens</td>
              <td class="data-string">33-31</td>
              <td class="numbers">.625</td>
              <td class="numbers">45.5</td>
              <td class="numbers">-3</td>
              <td class="win-percentage" id="win3">42.9%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Texans vs Bengals</td>
              <td class="data-string">30-27</td>
              <td class="numbers">.556</td>
              <td class="numbers">40.5</td>
              <td class="numbers">-3</td>
              <td class="win-percentage" id="win4">34.0%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>49ers vs Jaguars</td>
              <td class="data-string">34-3</td>
              <td class="numbers">.375</td>
              <td class="numbers">38.5</td>
              <td class="numbers">-1.5</td>
              <td class="win-percentage" id="win5">45.8%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Saints vs Vikings</td>
              <td class="data-string">19-27</td>
              <td class="numbers">.625</td>
              <td class="numbers">38.5</td>
              <td class="numbers">-6.5</td>
              <td class="win-percentage" id="win6">65.2%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Packers vs Steelers</td>
              <td class="data-string">19-23</td>
              <td class="numbers">.50</td>
              <td class="numbers">47.0</td>
              <td class="numbers">-6.5</td>
              <td class="win-percentage" id="win7">58.6%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Titans vs Buccaneers</td>
              <td class="data-string">6-20</td>
              <td class="numbers">.375</td>
              <td class="numbers">38.5</td>
              <td class="numbers">-3</td>
              <td class="win-percentage" id="win8">55.5%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Falcons vs Cardinals</td>
              <td class="data-string">23-25</td>
              <td class="numbers">.4444</td>
              <td class="numbers">43.5</td>
              <td class="numbers">-1</td>
              <td class="win-percentage" id="win9">43.4%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Lions vs Chargers</td>
              <td class="data-string">41-38</td>
              <td class="numbers">.75</td>
              <td class="numbers">48.5</td>
              <td class="numbers">-3</td>
              <td class="win-percentage" id="win10">34.1%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Giants vs Cowboys</td>
              <td class="data-string">17-49</td>
              <td class="numbers">.222</td>
              <td class="numbers">39.5</td>
              <td class="numbers">-17</td>
              <td class="win-percentage" id="win11">93.9%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Washington vs Seahawks</td>
              <td class="data-string">26-29</td>
              <td class="numbers">.444</td>
              <td class="numbers">44.5</td>
              <td class="numbers">-6.5</td>
              <td class="win-percentage" id="win12">66.7%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Jets vs Raiders</td>
              <td class="data-string">12-16</td>
              <td class="numbers">.50</td>
              <td class="numbers">36.5</td>
              <td class="numbers">-1</td>
              <td class="win-percentage" id="win13">53.1%</td>
              <td class="bet-cell">$0</td>
          </tr>
          <tr>
              <td>Broncos vs Bills</td>
              <td class="data-string">24-22</td>
              <td class="numbers">.375</td>
              <td class="numbers">46.5</td>
              <td class="numbers">-7</td>
              <td class="win-percentage" id="win14">-5%</td>
              <td class="bet-cell">$0</td>
          </tr>

        </tbody>
    </table>
</main>

  <script>
      
      document.getElementById('myForm').addEventListener('submit', function(event) {
          event.preventDefault();
          // Retrieve the value from the text box
          var textBoxValue = document.getElementById('url-box').value;
          console.log("Text Box Value: " + textBoxValue);

          // Update the "Bet" column for each row in the table
          var tableRows = document.getElementById('table-body').getElementsByTagName('tr');
          for (var i = 0; i < tableRows.length; i++) {
              var row = tableRows[i];
              // Generate a unique ID for each row (e.g., 'row1', 'row2', ...)
              var rowId = 'row' + (i + 1);
              row.id = rowId;
              // Update the "Bet" column for the current row with the value from the text box
              if (parseFloat(row.querySelector('.win-percentage').textContent) > 50) {
                var percent = parseFloat(row.querySelector('.win-percentage').textContent)
                var betValue = (textBoxValue / 16) * (percent / 100);
                var roundedBetValue = betValue.toFixed(2);
                row.querySelector('.bet-cell').textContent = '$' + roundedBetValue;
              }
          }
      });
  </script>


  <script>
      function perc2color(perc, min, max) {
          var base = (max - min);
          if (base == 0) {
              perc = 100;
          } else {
              perc = (perc - min) / base * 100;
          }
          var r, g, b = 0;
          if (perc < 50) {
              r = 255;
              g = Math.round(5.1 * perc);
          } else {
              g = 255;
              r = Math.round(510 - 5.10 * perc);
          }
          var h = r * 0x10000 + g * 0x100 + b * 0x1;
          return '#' + ('000000' + h.toString(16)).slice(-6);
      }


      // Get the win percentage elements
      const win1 = document.getElementById('win1');
      const win2 = document.getElementById('win2');
      const win3 = document.getElementById('win3');
      const win4 = document.getElementById('win4');
      const win5 = document.getElementById('win5');
      const win6 = document.getElementById('win6');
      const win7 = document.getElementById('win7');
      const win8 = document.getElementById('win8');
      const win9 = document.getElementById('win9');
      const win10 = document.getElementById('win10');
      const win11 = document.getElementById('win11');
      const win12 = document.getElementById('win12');
      const win13 = document.getElementById('win13');
      const win14 = document.getElementById('win14');

      // Convert win percentage to number
      const winPercentage1 = parseInt(win1.textContent);
      const winPercentage2 = parseInt(win2.textContent);
      const winPercentage3 = parseInt(win3.textContent);
      const winPercentage4 = parseInt(win4.textContent);
      const winPercentage5 = parseInt(win5.textContent);
      const winPercentage6 = parseInt(win6.textContent);
      const winPercentage7 = parseInt(win7.textContent);
      const winPercentage8 = parseInt(win8.textContent);
      const winPercentage9 = parseInt(win9.textContent);
      const winPercentage10 = parseInt(win10.textContent);
      const winPercentage11 = parseInt(win11.textContent);
      const winPercentage12 = parseInt(win12.textContent);
      const winPercentage13 = parseInt(win13.textContent);
      const winPercentage14 = parseInt(win14.textContent);

      // Change color based on win percentage
      win1.style.color = perc2color(winPercentage1, 0, 100);
      win2.style.color = perc2color(winPercentage2, 0, 100);
      win3.style.color = perc2color(winPercentage3, 0, 100);
      win4.style.color = perc2color(winPercentage4, 0, 100);
      win5.style.color = perc2color(winPercentage5, 0, 100);
      win6.style.color = perc2color(winPercentage6, 0, 100);
      win7.style.color = perc2color(winPercentage7, 0, 100);
      win8.style.color = perc2color(winPercentage8, 0, 100);
      win9.style.color = perc2color(winPercentage9, 0, 100);
      win10.style.color = perc2color(winPercentage10, 0, 100);
      win11.style.color = perc2color(winPercentage11, 0, 100);
      win12.style.color = perc2color(winPercentage12, 0, 100);
      win13.style.color = perc2color(winPercentage13, 0, 100);
      win14.style.color = perc2color(winPercentage14, 0, 100);

  </script>



</body>
</html>
